<ion-view title="Planeta Música">
  <ion-content class="padding">
    <h1>Planeta Música App</h1>
	<p><i class="icon ion-checkmark"></i> Com uma <b>plataforma intuitiva</b>, fácil de usar e mais fácil ainda de aprender, o Planeta Música oferece <b>cursos de música</b>
        com músicos profisionais, <b>especialistas</b> e com renome em seus segmentos, escolhidos a dedo pela nossa equipe.
		</p>
		<p>
            <iframe width="96%" height="240" src="https://www.youtube.com/embed/te6Vh4Icms4" frameborder="0" allowfullscreen></iframe>
        </p>
        <p><i class="icon ion-checkmark"></i> Acesse nosso <b><a href="https://planetamusica.net/perguntas-frequentes-faq/">FAQ</a></b>, fique por dentro e tire suas dúvidas!</p>
      <p><i class="icon ion-checkmark"></i> <a href="#" onclick="window.open('https://planetamusica.net/', '_system', 'location=yes'); return false;">Site Oficial Planeta Música</a></p>
  </ion-content>
</ion-view>
